*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.Header_Links {
    display: flex;
    gap: 20px;

}



.links {
    color: #e5e7eb;
    font-size: 18px;

}


 .Header_container {  
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
} 

.Header_Logo{
    font-size: 24px;
    color:#F9FAF8;
}



.Hero_main_text {
   margin-bottom: 0px;
   font-size: 48px;
   color: #F9FAF8;
   font-weight: 900;
}

.Hero_sub_text {
   margin-top: 0px;
   margin-bottom: 0px;
   color: #e5e7eb;
   font-size: 18px;;
}


.image {
    height: 10cm;
    width: auto;
}

.pandimagecontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.button {
    width: 100px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30px;
}







.allconatiner {
    background-color: #1F2937;
    padding-bottom: 2cm;
}


.random_information {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 40px;
}




.object {
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}


.object_container {
display : flex;
justify-content: space-evenly;
align-items: center;
margin-bottom: 120px;
}



.random_information_title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}




.thirdsection {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 60px;;
}


.thirdsectionp, .thirdsectionpafternote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}



.fourthsection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    width: 600px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 60px;


}

.fourthsectioncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fourthsectionbutton {
    border-radius: 5px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 1px solid #e5e7eb;
    width: 80px;
    height: 20px;
}




.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
    height: 60px;
}





.fourthsectionsubtitle {
    color: #F9FAF8;
}

.footer {
    color:#e5e7eb;
    font-size: 18px;
}